<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="ChapeauDatabase" connectionString="Data Source=den1.mssql8.gear.host;
         Initial Catalog=dbchapeau202105; User=dbchapeau202105; Password=Rt1dqd!W!8mh"/>
	</connectionStrings>
</configuration>
